<!Doctype html>

<html>

<head>
	
<title></title>

<style>
	.button-used-class {
		color: blue;
	}
</style>

</head>

<body>

	<div id='root'>

		<input id='message' type='text' v-model="message">

		<p>The value is : {{ message }}</p>

		<h3>Using mustache syntax</h3>
		<ul>
			<li v-for="name in names">{{ name }}</li>
		</ul>

		<h3>Using v-text</h3>
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>


		<h3>My name only:</h3>
		<ul>
			<li v-for="name in myNameOnly" v-text="name"></li>
		</ul>

		<input @keyup.enter='addName' type='text' v-model='newName'>
		<button :class="{ 'button-used-class': buttonUsed }" :title="buttonTitle" @click='addName' id='name-button'>add name</button>
		<button @click='reverseNames'>Reverse names</button>

		<h3>Vue component</h3>
		<div id='component'>
			<practice-wrapper></practice-wrapper>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script src="main.js"></script>

	<script>
		Vue.config.devtools = true;
		Vue.config.debug = true;

		var app = new Vue({
			el: '#root',
			data: {
				message: 'Hello World',
				names: ['Joe', 'Ethan', 'Jim'],
				newName: '',
				buttonTitle: "I am button",
				buttonUsed: false
			},
			mounted() {
				alert('Mounted function call')
			},
			methods: {
				addName() {
					this.names.push(this.newName)
					this.newName=''
					this.toggleClass();
				},
				toggleClass() {
					this.buttonUsed = true;
				},				
				reverseNames() {
					this.names = this.names.map((item) => {
						return item.split("").reverse().join("")
					})
				}
			},
			computed: {
				myNameOnly() {
					if(this.names) {
						return this.names.filter(name => name == 'Ethan')
					}
				}
			}
		})


		Vue.config.devtools = true;
		Vue.config.debug = true;
	</script>


</body>

</html>