<!Doctype html>

<html>

<head>
	
<title></title>

<style>
	.button-used-class {
		color: blue;
	}
</style>

</head>

<body>

	<div id='root'>

		<input id='message' type='text' v-model="message">

		<p>The value is : {{ message }}</p>

		<ul>
			<li v-for="name in names">{{ name }}</li>
		</ul>

		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input @keyup.enter='addName' type='text' v-model='newName'>
		<button :class="{ 'button-used-class': buttonUsed }" :title="buttonTitle" @click='addName' id='name-button'>add name</button>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script>
		Vue.config.devtools = true;
		Vue.config.debug = true;

		var app = new Vue({
			el: '#root',
			data: {
				message: 'Hello World',
				names: ['Joe', 'Ethan', 'Jim'],
				newName: '',
				buttonTitle: "I am button",
				buttonUsed: false
			},
			mounted() {
				alert('ready')
			},
			methods: {
				addName() {
					this.names.push(this.newName)
					this.newName=''
					this.toggleClass();
				},
				toggleClass() {
					this.buttonUsed = true;
				}

			}
		})


		Vue.config.devtools = true;
		Vue.config.debug = true;
	</script>


</body>

</html>